doctype
html(ng-app='goParty')
  head
    meta(http-equiv='ContentType', content='text/html', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/public/css/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(type='text/javascript', src='/public/js/jquery/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/public/css/bootstrap/js/bootstrap.min.js')
     script(type="text/javascript" src="/public/js/app/app_client.js")
    script(type='text/javascript', src='/public/js/app/tweetstreamer.js')

  body
    block content
//    script(type='text/javascript', src='/socket.io/socket.io.js') 